.project {
  display: flex table-column;
  background-image: linear-gradient(180deg, darken(rgb(71, 90, 97), 10), lighten(rgb(71, 90, 97), 10));
  max-width: 570px;
  margin: 32px;
  color: white;
  border-radius: 0 16px;
  box-shadow: 4px 0px 6px darken(rgb(71, 90, 97), 10);
  img {
    max-width: 100%;
  }

  .description {
    padding: 1em;
  }

  .links {
    margin: 30px 0px;
  }

  a {
    color: white;
    background-color: rgb(71, 90, 97);
    margin-right: 20px;
    padding: 1em 2em;
    text-decoration: none;
  }

  a:hover {
    border-bottom: solid 3px white;
  }
}
